<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          {% if             page.truppa == true and page.title == "jettatura" %}<img src="https://res.cloudinary.com/dkpneimf7/image/upload/v1678957207/jettatura-white_qoacdj.png" style="display: block; margin: .5em auto;" />
          {% elsif       page.truppa == true and page.title == "bll" %}<img src="https://res.cloudinary.com/dkpneimf7/image/upload/v1678957207/bll-white_fulura.png" style="display: block; margin: .5em auto;" />
          {% elsif       page.truppa == true and page.title == "fugues" %}<img src="https://res.cloudinary.com/dkpneimf7/image/upload/v1687636003/Fugues-Blanc_uyp2ns.png" style="display: block; margin: .5em auto;" />
          {% elsif       page.truppa == true and page.title == "tempestades" %}<img src="https://res.cloudinary.com/dkpneimf7/image/upload/v1678957206/tempestades-white_lfbxiy.png" style="display: block; margin: .5em auto;" />
          {% elsif       page.truppa == true and page.title == "bruxariaemjulho" %}<img src="https://res.cloudinary.com/dkpneimf7/image/upload/v1678957207/bruxariaemjulho-white_qpzraj.png" style="display: block; margin: .5em auto;" />
          {% elsif       page.truppa == true and page.title == "chjesa" %}<img src="https://res.cloudinary.com/dkpneimf7/image/upload/v1678957206/chjesa-white_foobz9.png" style="display: block; margin: .5em auto;" />
          {% else %}{{ site.title }}
          {% endif %}
      </h1>
      <p class="lead">
      sonic <em>rituals</em>, tragic <em>colours</em> & romantic <em>stories</em> by <em>black metal</em> musicians, <em>post punk</em> actresses and actors, <em>occultists</em> & <em>bandits</em>.
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Vita <em>.</em></a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ node.url }}/truppa/">Truppa <em>,</em></a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ node.url }}/contact/">Contact <em>(</em></a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="https://linktr.ee/orascura" target="_blank"><i>Linktr.ee</i> <em>&</em></a>
      <img src="https://res.cloudinary.com/dkpneimf7/image/upload/v1678957207/itna-white_dsnqxj.png" width="30%" style="display: block; margin: 3em auto; border: 1px white solid;" />
    </nav>
  </div>
</div>